 *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .sec1{
            width: 100%;
            height: 130vh;
            background-color: #332B29;
        }
        .sec1inner1{
            width: 100%;
            height: 130vh;   
            background-color: #332B29;
        }
        .sec1innerbox1{
            width: 50%;
            height:100vh;
            float: left;
            padding:100px ;
        }
        .sec1innerbox2{
            width: 50%;
            height: 100vh;
            float: left;
        }
        .sec1img{
            width: 100%;
            position: relative;
            left: 200px;
        }
        
        .sec1btn{
            font-size: 25px;
            position: relative;
            left: 200px;
            top: 30px;
            padding: 16px 30px;
            border: 2px solid white;
            color: white;
            background-color: #332B29;
            cursor: pointer;
            margin-top: 10px;
         
        }
        .sec1btn:hover{
            background-color: white;
            color:#332B29 ;
            border-color: #332B29;
        }
        .sec1innerbox2child1{
            width: 500px;
            position: relative;
            top: 200px;
        }
        .sec1innerbox2child1 h1{
            font-size: 73px;
            color: white;
        }
        .sec1innerbox2child1 h2{
            font-size: 35px;
            color: white;
            font-weight: lighter;
        }
        .sec1innerbox2child1 p{
            color: white;
            font-size: 20px;
        }


        .sec1innerbox1   p{
            color: white;
            font-size: 23px;
            position: relative;
            top: 20px;
            left: 200px;
            letter-spacing: 3px;
            
            font-family: 'Times New Roman', Times, serif;
        }
        .sec1inner2{
            width:100%;
            height: 450PX;
            background-color:#332B29;
            float: left;
        

        }
         .squarebox1{
            width: 260px;
            height: 350px;
            position: relative;
            background-color:#F0612D;
            float: left;
            margin: 20px;
            left: 50px;
        } 
        .chilsuarebox2{
            width: 100px;
            height: 100px;
            position: relative;
            background-color: white;
            margin-top: 30px;
            left: 20px;
        }
        .squarebox1 p{
            font-size: 19px;
            color: white;
            position: relative;
            top: 8px;
            left: 12px;
            
            
        }
        .squarebox1 h1{
            font-size: 30px;
            color: white;
            margin: 15px;
            left:12px ;
        }
        .iconbox{
            font-size: 80px;
            color:#F0612D;
        
            
        }
        .sec2{
            width: 100%;
            height: 100vh;
            background-image:url(https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/eb761ef6d7f45e82b76f5101/vcc-min.jpg);
            background-size: cover;
            margin-top:450px ;
            
            
        }
        .sec2inner2{
            width: 50%;
            height: 100vh;
            float: left;
            padding: 50px;
            

        }
        .sec2inner2box{
            width: 80%;
            height:150px;
            background-color: white;
            margin: 20px ; 
            padding: 40px;
            box-shadow: 0px 0px 3px 4px white; 
              
        }
        .sec3{
            width: 100%;
            height: 120vh;
            background-color: #332B29;

        }
        .sec3inner1{
            width: 30%;
            height: 80vh;
            float: left;
        }
        .sec3inner2{
            width: 70%;
            height:80vh;
            float:left;
            padding: 40px;
        

        }
        .sec3inner1box{
            width: 550px;
            height: 250px;
            background-color: #F0612E;
            color: white;
            position: relative;
            top: 400px;
            left: 200px;
            padding: 50px;
        }

        .sec3inner1box h1{
            font-size: 60px;
        }

        .sec4{
            width: 100%;
            height: 300px;
            background-color: #332B29;
        }

        .sec4 p{
            width: 60%;
            height: auto;
            color: white;
            float: left;
            position: relative;
            left: 350px;
            margin-top: 10px;
            font-size: 25px;


        }



        .sec5{
            width: 100%;
            height: 120vh;
            background-image: url(blackgirlimage.jpg);
            background-size: cover;

            
        }
      
.sec5inner1 {
    width: 60%;
    height: 300px;
    background-color: white;
    float: left;
    position: relative;
    top: 200px;
    left: 130px;
    padding: 30px;
}

.sec5inner1 h1{
    font-size: 60px;
}

.sec5inner1 p{
    font-size: 20px;
    color: white;
    position: relative;
    top: 70PX;   
}

.sec2btn {
    font-size: 25px;
    position: relative;
    top: 100px;
    background-color: transparent;
    border: 2px solid white;
    padding: 16px 30px;
    color: white;
}

.sec2btn:hover {
    font-size: 25px;
    position: relative;
    top: 100px;
    background-color: white;
    border: 2px solid white;
    padding: 16px 30px;
    color: black;
}



.sec6 {
    width: 100%;
    height: 200vh;
    background-color: #332B29;
    float: left;
}

.sec6innerbox1 {
    width: 50%;
    height: 100vh;
    float: left;
}


.sec6innerbox1 h1{
    font-size: 30px;
    color: white;
    margin-top: px;
    margin-left: 10px;
}

.sec6innerbox1 h2{
    font-size: 30px;
    color: white;
    margin-top: 100px;
}

.sec6innerbox2 {
    width: 50%;
    height: 100vh;
    background-color: #332B29;
    float: left;
}

.sec6ineerbox2container1 {
    width: 150px;
    height: 150px;
    background-color: transparent;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 50%;
    background-image: url(./man1image.jpg);
    background-size: cover;

}

.sec6ineerbox2container1 h1{
    /* align-items: center; */
    margin-top: 150px;
    color: white;
    font-size: 25px;
}

.sec6ineerbox2container1 h3{
    color: #5D5857;
    float: left;
}


.sec6ineerbox2container2 {
    width: 150px;
    height: 150px;
    /* background-color: yellow; */
    float: left;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 50%;
    background-image: url(./manimage2.jpg);
    background-size: cover;
}

.sec6ineerbox2container2 h1{
    margin-top: 150px;
    color: white;
    font-size: 25px;
}

.sec6ineerbox2container2 h3{
    color: #5D5857;
    float: left;
    margin-top: 20px;
}

.sec6ineerbox2container3 {
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 30px;
    margin-top: 100px;
    border-radius: 50%;
    background-image: url(./man3image.jpg);
    background-size: cover;
}

.sec6ineerbox2container3 h1{
    margin-top: 200px;
    color: white;
    font-size: 25px;
}

.sec6ineerbox2container3 h3{
    color: #5D5857;
    float: left;
    margin-top: 25px;
    margin-left: 15px;
}

.sec6ineerbox2container4 {
    width: 150px;
    height: 150px;
    /* background-color: green; */
    float: left;
    margin-left: 100px;
    margin-top: 100px;
    border-radius: 50%;
    background-image: url(./girlbrownimage.jpg);
    background-size: cover;
}

.sec6ineerbox2container4 h1{
    margin-top: 150px;
    color: white;
    font-size: 25px;
    padding-left: 30px;
}

.sec6ineerbox2container4 h3{
    color: #5D5857;
    float: left;
    margin-top: 20px;
    padding-left:30px ;
}

.sec6innerbox1btn{
     font-size: 25px;
    /* position: relative; */
    top: 100px;
    background-color: transparent;
    border: 2px solid white;
    /* padding: 16px 30px; */
    color: white;
    margin-top: 70px;
    margin-left: 50px;
}

.sec6innerbox1btn:hover {
    font-size: 25px;
    position: relative;
    top: 100px;
    background-color: white;
    border: 2px solid white;
    padding: 16px 30px;
    color: black;
}


.sec7{
            width: 100%;
            height: 120vh;
            background-color: #332B29;
            float: left;
        }

        .sec7inner1{
            width: 50%;
            height:100vh ;
            float: left;
            position: relative;
            top: 40px;
            left: 140px;
        }

        .sec7inner2{
            width: 50%;
            height:100vh ;
            float: left;
            color: white;
        }

        .sec7inner2 h1{
            width: 500px;
            height: 200px;
            background-color: #F0612D;
            float: left;
            position: relative;
            font-size: 50px;
            top: 90px;
            color: white;
            padding: 30px;

        }

        .sec7container{
            
            top: 100px;
            position: relative;
            float: left;
            left: 150px;
            padding: 30px;
            font-size: 25px;
            width: 600px;
            
        }

        .learmoreBtn{
            position: relative;
            left: 0px;
        }


        .sec8{
            width: 100%;
            height: 100vh;
            
            
        }

        .sec8box1{
            width: 50%;
            height: 100vh;
            position: relative;
            left: 40px;
            

        }

        .sec8inner1{
            width:300px ;
            height:250px ; 
            float: left;
            padding: 30px;
            margin: 20px;
            background-color: rgba(243, 245, 246, 0.6);
            bottom: 700px;
            position: relative;
        }
        .sec8inner1 h1 {
            font-size: 25px;
        }

        .sec8inner1 p{
            font-size: 20px;
            top: 40px;
            line-height: 30px;

        }

         .sec8inner2{
            width:300px;
            height:250px;
            background-color: rgba(36, 37, 38, 0.4);
            float: left;
            padding: 20px;
            margin: 20px;
            bottom: 700px;
            position: relative;
            
        }

        

         .sec8inner3{
            width:300px;
            height:250px;
            background-color: #F0612D;
            float: left;
            padding: 20px;
            margin: 20px;
            bottom: 650px;
            position: relative;
        }

         .sec8inner4{
            width:300px;
            height:250px;
            background-color: white;
            float: left;
            padding: 20px;
            margin: 20px;
            bottom: 650px;
            position: relative;
        }

        